<h3>Log in to CS@Illinois GitHub to continue</h3>
<p>
  Your identity on GitHub is created the first time you log in.  Therefore, you need to log in and then return here to complete the creation of your repository.
</p>

<a href="{{ githubHost }}" target="_blank" class="btn btn-github mb-2">Log in to CS@Illinois github</a>
<a href="{{ baseUrl}}/{{ courseId }}" class="btn btn-outline">I've logged in!</a>

