<h3>Log in to CS@Illinois github to continue</h3>
<p>
  Your identity on github is created on your first login.  Therefore, you need to log in and then return here to complete the creation of your repository.
</p>
<ul>
  <li>
    <a href="" target="_blank">Log in to CS@Illinois github</a>
    <i>(Opens in a new tab.)</i>
  </li>
</ul>

<a href="/" role="button" class="btn btn-default">I've logged in! :)</a>

