<h3>Your {{ courseName }} repository is ready!</h3>
<p>
  You will submit all course assignments through this repository:
</p>
<ul>
  <li>
    <code>{{studentRepoUrl}}</code>
  </li>
  <li>
    Follow your course-specific instructions on what to do next (you will usually not visit your git URL directly).
  </li>
</ul>