<h3>Your {{ courseName }} repository is ready!</h3>
<p>
  You will submit all course assignments through this repository.
  We recommend you bookmark your repository for easy access.
</p>
<a class="btn btn-github" target="_blank" href="{{studentRepoUrl}}">Go to repository</a>
